<div id="app" class="page">
    <el-container style="height: 100%; border: 1px solid #eee">
        <div class="left">
            <div :class="{'logo':true,'active':!isCollapse}">
                <div class="img"></div>
                <i :class="{iconfont:true,'icon-shouqifenlei':isCollapse, 'icon-zhankaifenlei':!isCollapse}"  @click="isCollapse = !isCollapse"></i>
                <!--<i class="el-icon-setting"></i>-->
            </div>
           <div>
               <el-menu default-active="1-1" class="el-menu-vertical" :collapse="isCollapse"
                        :unique-opened="true" background-color="#36B4FD" text-color="#fff" active-text-color="#ffd04b">
                   <el-submenu :index="menu1.id" v-for="(menu1,index1) in menuList" :key="menu1.id" >
                       <template slot="title">
                           <i :class="menu1.icon"></i>
                           <span slot="title">{{menu1.name}}</span>
                       </template>
                       <template v-for="(menu2,index2) in menu1.children" >
                           <el-menu-item v-if="!menu2.children" :index="menu2.id" @click.native="selectHandle(menu2,$event)">
                               {{menu2.name}}
                           </el-menu-item>
                           <el-submenu v-else :index="menu2.id" >
                               <span slot="title">{{menu2.name}}</span>
                               <el-menu-item :index="menu3.id" v-for="(menu3,index3) in menu2.children" :key="menu3.id" @click.native="selectHandle(menu3,$event)">{{menu3.name}}</el-menu-item>
                           </el-submenu>
                       </template>
                   </el-submenu>
               </el-menu>
           </div>
        </div>
        <el-container class="right">
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>查看</el-dropdown-item>
                        <el-dropdown-item>新增</el-dropdown-item>
                        <el-dropdown-item>删除</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>王小虎</span>
            </el-header>

            <el-main class="main">
                <el-tabs v-model="activeTabName" type="border-card" @tab-remove="closeTab">
                    <el-tab-pane
                        v-for="(item, index) in tabList"
                        :key="item.name"
                        :label="item.label"
                        :name="item.name"
                        :closable="item.closable"
                    >
                        <component :is="item.component"></component>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </el-container>
    </el-container>
</div>
