@import "../../../assets/css/define.styl";
.page{
    position relative
    height 100%
    background-color: #2d3a4b;

    .login-container{
        position absolute
        left 0
        right 0
        margin 120px auto
        padding 35px 80px
        width 520px


        .title-container{


            .title{
                font-size: 26px;
                font-weight: 400;
                color: #eee;
                margin: 0px auto 40px auto;
                text-align: center;
                font-weight: bold;
            }
        }
        .el-form-item {
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            color: #454545;


        }

    }
    .icon{
        width 20px
        height 20px
        vertical-align: -10px;
    }
}
