

/*
功能区按钮
 */
.g-btns{
    padding 5px 0
    padding-left 20px
    background-color #DFF5FF


}
/*
搜索条件块
 */
.g-search{
    padding 20px 0

}
/*
全局col
 */
$gcol(){
    display inline-block
}
.g-col-medium {
    $gcol()
}
.g-col-small {
}
.g-col-mini{
}
