/**
 * 文字

// 标题
h1{font-size: $1 !important; margin: 20px auto !important;}
h2{font-size: $2 !important; margin: 20px auto !important;}
h3{font-size: $3 !important; margin: 20px auto !important;}
h4{font-size: $4 !important; margin: 20px auto !important;}
h5{font-size: $5 !important; margin: 20px auto !important;}
*/
// 尺寸
.g-text-1 {font-size: $s1;}
.g-text-2 {font-size: $s2;}
.g-text-3 {font-size: $s3;}
.g-text-4 {font-size: $s4;}
.g-text-5 {font-size: $s5;}

// 粗体
.g-text-bold{
	font-weight: bold;
}

// 色彩类型
.g-text-title{
	color: $c_gray_dark;
}
.g-text-content{
	color: $c_gray;
}
.g-text-info{
	color: $c_gray_light;
}
.g-text-tip{
	color: $c_tip;
}
